html {
  font-size: 62.5%;
}


@media only screen and (max-width: 768px) {
  .navbar {
      flex-flow: column nowrap;
      align-items: center;
      margin-left: 0;
  }

  .navbar a {
      margin: 5px;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: #616161;
  font-size: 1.6rem;
  z-index: 1;
}

h1, h2, h3 {
  color: black;
}

h1 {
  font-size: 3.2rem;
}


h2 {
  font-size: 2.8rem;

}

h3 {
  font-size: 2.2rem;
  margin-bottom: 12px;
}

.wrapper, section.projects, footer .copyright {
  width: 60%;
  margin: auto;
  overflow: auto;
}

button {
  color: white;
  background-color: orange;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 12px;
}

.fa {

  text-align: center;
  font-size: 30px;
  width: 50px;
}


.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 5px;
  padding: 15px;
}


.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  border-radius: 5px;
  padding: 15px;
}


.fa-twitter {
  background: #1DA1F2;
  color: white;
  border-radius: 5px;
  padding: 15px;
}


.fa:hover {
  opacity: 0.7;
}



header {
  background-color: white;
  padding: 10px;
}

img {
  float: left;
}

.wrapper figure img {
  border-radius: 20px;
  padding: 10px;
}


.navbar {
  display: flex;
  flex-flow: wrap row;
  overflow: hidden;
  justify-content: center;
  position: relative;
  z-index: 1;
  float: left;
  padding: 5px;
  margin-left: 150px;
  border-radius: 10px;
  background-color: lightgrey;

}


.navbar a {

  font-size: 20px;
  font-style: bold italic;
  text-align: center;
  text-decoration: none;
  color: green;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.wrapper img {

  border-radius: 100%;
  margin-right: 0px;
}




.navlink {
  padding: 20px;
  font-weight: bold;
  text-align: center;




}



.navbar a:hover {
  opacity: 0.5;
  background-color: white;
  border-radius: 5px;

}





.secmain {
  background-color: #d3d3d3;
  padding: 0px 0px;
}

.secmain .wrapper-text {
  width: 45%;
  float: left;
  margin-top: 40px;
}

.secmain figure {
  float: right;
  width: 55%;
  margin: 0;
}

.secmain figure img {
  width: 100%;
}

.secportfolio {
  background-color: #d3d3d3;
  padding: 15px;

}

.secportfolio-head {
  background-color: lightgrey;
  padding: 0px 0px;
}

.secportfolio-head h1 {
  font-size: 50px;
  color: Green;
  text-align: center;
}

.secportfolio .wrapper-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.secportfolio figure {
  float: right;
  width: 55%;
  margin: 0;
}

.secportfolio figure img {
  width: 100%;
}

.secportfolio .image-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  padding: 10px;
  max-width: 1000px;
  margin: auto;

}

.secportfolio img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}

.projects {
  padding: 48px 0;
  overflow: auto;
}

.projects .box {
  background-color: #616161;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;

}

@media only screen and (min-width: 768px) {
  .projects .box {
    width: 300px;
  }
}

.projects article {
  width: 33.33%;
  float: left;
  padding: 24px 12px;
}

.projects article.first {
  padding: 24px 24px 24px 0;
}

.projects article.last {
  padding: 24px 0 24px 24px;
}



footer .fat-footer {
  background-color: lightgrey;
  padding: 48px 0px;
  color: black;
  position: relative;
  z-index: 1;
}

footer .fat-footer h3 {
  color: black;
}

footer .fat-footer .about {
  float: left;
  width: 60%;
  padding: 0px;
}




.container {
  background-color: white;
  max-width: 500px;
  padding: 15px;
}

form {
  display: grid;
  grid-gap: 15px;
}


input, select, textarea {
  width: 100%;
  padding: 4px;
}

.booknow-head {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

}